<div class="container">
  <mat-stepper orientation="vertical" #stepper>
    <mat-step [stepControl]="animalFormFirstGroup">
      <form [formGroup]="animalFormFirstGroup" class="firstGroup">
        <ng-template matStepLabel>Imię i opis</ng-template>
        <mat-form-field>
          <input matInput placeholder="Imię" formControlName="name" [required]="true">
        </mat-form-field>

        <mat-form-field>
          <textarea
            matInput
            placeholder="Opis"
            formControlName="description"
            cdkTextareaAutosize
            cdkAutosizeMaxRows="5"
            cdkAutosizeMinRows="5"
          >></textarea>
        </mat-form-field>
      </form>

      <div>
        <button mat-raised-button color="primary" matStepperNext enterkeyhint="">Dalej</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="animalFormSecondGroup">
      <form [formGroup]="animalFormSecondGroup" class="secondGroup">
        <ng-template matStepLabel>Płeć wiek gatunek i umaszczenie</ng-template>
        <mat-form-field>
          <mat-label>Data Urodzenia</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Płeć</mat-label>
          <mat-select formControlName="sex" placeholder="Płeć">
            <mat-option [value]="avalibleSex.unknown">Nieznana</mat-option>
            <mat-option [value]="avalibleSex.male">Samiec</mat-option>
            <mat-option [value]="avalibleSex.female">Samica</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Gatunek</mat-label>
          <mat-select placeholder="Gatunek" formControlName="species" required>
            <mat-option *ngFor="let species of avalibleSpecies" [value]="species">{{ species.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Umaszczenie</mat-label>
          <mat-select formControlName="morphs" multiple>
            <mat-option *ngFor="let morph of avalibleMorphs" [value]="morph">{{ morph.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Wstecz</button>
          <button mat-raised-button color="primary" matStepperNext>Dalej</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="animalFormThirdGroup">
      <form [formGroup]="animalFormThirdGroup" class="thirdGroup">
        <ng-template matStepLabel>Zdjęcia</ng-template>

        <div class="photo-container">
          <mat-card *ngFor="let photo of photos.controls; let i = index" class="photo-card">
            <img [src]="photo.value.url" alt="Photo" class="photo-preview"/>
            <button mat-icon-button (click)="removePhoto(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card>

          <input #fileInput type="file" (change)="onFileSelect($event)" hidden accept="image/png, image/jpeg, image/jpg"
                 multiple/>

          <div *ngIf="photos.length < 5" class="drop-zone"
               (click)="fileInput.click()"
               (drop)="onDrop($event)"
               (dragover)="onDragOver($event)"
               (dragleave)="onDragLeave($event)">
            <mat-icon>cloud_upload</mat-icon>
            <p>Przeciągnij zdjęcia lub kliknij tutaj</p>
          </div>
        </div>

      </form>

    </mat-step>

    <mat-step [stepControl]="animalFormFourthGroup">
      <form [formGroup]="animalFormFourthGroup" class="fourthGroup">
        <ng-template matStepLabel>Informacje sprzedażowe</ng-template>
        <mat-checkbox formControlName="isForSale">Na sprzedaż</mat-checkbox>
        <div *ngIf="isForSale" class="forSaleContainer">
          <mat-form-field>
            <mat-label>Status rezerwacji</mat-label>
            <mat-select formControlName="reservationStatus" placeholder="Status rezerwacji">
              <mat-option [value]="avalibleReservationStatus.for_sale">Dostępny</mat-option>
              <mat-option [value]="avalibleReservationStatus.reserved">Zarezerwowany</mat-option>
              <mat-option [value]="avalibleReservationStatus.sold">Sprzedany</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cena</mat-label>
            <input matInput placeholder="Cena" formControlName="price">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Rodzice</mat-label>
            <mat-select formControlName="parents" multiple (selectionChange)="onSelectionChange($event)">
              <mat-option *ngFor="let parent of avalibleParents" [value]="parent">{{ parent.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>

      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Wstecz</button>
        <button mat-raised-button color="primary" matStepperNext>Dalej</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Podsumowanie</ng-template>

      <div class="summary">
        <div class="summary-item">
          <h3>Imię</h3>
          <p>{{ animalFormFirstGroup.value.name }}</p>
        </div>
        <div class="summary-item">
          <h3>Opis</h3>
          <p>{{ animalFormFirstGroup.value.description }}</p>
        </div>
        <div class="summary-item">
          <h3>Data urodzenia</h3>
          <p>{{ animalFormSecondGroup.value["dateOfBirth"] }}</p>
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="submit()">Dodaj</button>
      </div>
    </mat-step>

  </mat-stepper>
</div>
