<nav class="nav">
  <app-navbar-button text="Home" routerLink="/"></app-navbar-button>
  <app-navbar-button text="Terraria" routerLink="/order-terrarium"></app-navbar-button>
  <app-navbar-button text="Galeria" routerLink="/gallery"></app-navbar-button>
  <app-navbar-button text="Kontakt" routerLink="/contact"></app-navbar-button>
  <app-navbar-button text="Regulamin" routerLink="/statute"></app-navbar-button>

  <app-navbar-button  text="Admin Panel" routerLink="/admin"></app-navbar-button>
  <img src="assets/logo.png" alt="logo" >
  <p>Gekony Tropirria</p>
</nav>


