<nav class="nav">
  <button mat-button routerLink="/">Home
    <mat-icon fontIcon="home"></mat-icon>
  </button>
  <button mat-button routerLink="/order-terrarium">Terraria
    <mat-icon fontIcon="dashboard"></mat-icon>
  </button>
  <button mat-button routerLink="/gallery">Galeria
    <mat-icon fontIcon="photo library icon"></mat-icon>
  </button>
  <button mat-button routerLink="/contact">Kontakt
    <mat-icon fontIcon="contact_mail"></mat-icon>
  </button>
  <button mat-button routerLink="/statute">Regulamin
    <mat-icon fontIcon="assignment"></mat-icon>
  </button>

  <p>Gekony Tropirria</p>
  <img src="assets/logo.svg" alt="logo">

</nav>


