.container {
  background-color: #61e282;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  max-width: 40vw;
  min-width: 40vw;
  min-height: 50vh;
  max-height: 50vh;
  padding: 1em;
  display: grid;
  grid-gap: 0.2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "mainPhoto description"
    "reservationButton gallery";


  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}


.mainPhoto{
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: center;

}

.gallery {
  display: grid;
  margin: 0 auto;


}

.gallery.one {
  align-items: center;
}

.gallery.two {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  grid-template-rows: auto;
  align-items: center;

}

.gallery.three {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.gallery.four {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  align-items: center;
  grid-template-rows: auto auto;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer
{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  align-items: center;
}
