<mat-card class="landing-page-container">

    <mat-card class="description">

        <mat-card-header>
            <h1>Tropirria to lokalna hodowla gekonów orzesionych</h1>
            <mat-icon>
                <link rel="stylesheet"
                      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
            </mat-icon>
        </mat-card-header>
        <mat-card-content>
            <p>Hodowla gekonów orzęsionych to prawdziwa pasja i zobowiązanie. Nasze gekony są otoczone miłością i
                troską, co
                przekłada się na ich szczęście i zdrowie. Dbamy o to, aby miały dobrze zbilansowaną dietę, dostarczając
                im
                odpowiednich składników odżywczych. Każdy z naszych podopiecznych mieszka w starannie przygotowanym
                terrarium,
                które odzwierciedla ich naturalne środowisko. Te domki zapewniają im nie tylko komfort, ale także
                przestrzeń
                do
                eksploracji i aktywności. Jesteśmy dumni z naszej hodowli i z radością dzielimy się naszą wiedzą i
                doświadczeniem
                z innymi miłośnikami tych fascynujących stworzeń.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-grid-list class="nav-container" cols="3" gutterSize="3em">

        <mat-grid-tile>
            <app-nav-item mainText="Przejrzyj naszą ofertę i znajdź nowego pupila"
                          buttonText="Zobacz ofertę"
                          imagePath="assets/placeholderbutton-1.webp"
                          routerLink="/animal"
            ></app-nav-item>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-nav-item mainText="Zamów terrarium dla swojego gekona"
                          buttonText="Zamów terrarium"
                          imagePath="assets/placeholderbutton-2.webp"
                          routerLink="/order-terrarium"
            ></app-nav-item>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-nav-item mainText="Zobacz galerię naszych podopiecznych"
                          buttonText="Zobacz galerię"
                          imagePath="assets/placeholderbutton-3.webp"
                          routerLink="/gallery"
            ></app-nav-item>
        </mat-grid-tile>
    </mat-grid-list>


</mat-card>
